@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgba(247, 247, 247, 0.9);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover {
    color: pink;
}

section {
    padding: 100px 5%;
}

.main {
    background-color: black;
    display: flex;
    align-items: center;
    background: url(/image/programming-7708867_1920.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
}

.main-content {
    color: #fff;
    text-align: center;
}

.main-content h2 {
    font-size: 1.4em;
    font-weight: 500;
}

.main-content h2 span {
    color: rgb(192, 18, 47);
    font-size: 3em;
    font-weight: 600;
}

.main-content h3 {
    color: black;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: background-color 0.7s ease, transform 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f5;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.2
css
Copier le code
em;
    transition: color 0.7s ease, transform 0.7s ease;
    padding-right: 30px;
}

.social-icons a:hover {
    color: #ffffff8a;
    transform: scale(1.1);
}

.title {
    text-align: center;
    color: #0a49f5;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    background-color: #fff;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
    padding: 25px;
    border-radius: 15px;
    transition: transform 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    text-align: center;
    font-size: 6em;
    color: #0a49f5;
}

.info {
    text-align: center;
}

.info h3 {
    color: #0a49f5;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px 0;
}

.projects {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0;
}

.project-card {
    background-color: #fff;
    width: 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.project-card:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: 5px 10px 12px hsla(236, 100%, 49%, 0.89);
}

.project-info {
    padding: 1em;
}

.parag {
    margin: 0;
}

.project-title {
    color : black; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #0a49f5;
    font-size: larger;
}

.contact-text {
    text-align: center;
    color: #0a49f5;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.cards-contact {
    background-color: #fff;
    padding: 50px 0;
}

.cards-contact .card .icon {
    color: black;
    font-size: 2.5em;
}

.cards-contact .contact-text {
    text-align: center;
}

.footer {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.footer span {
    color: #0a49f5;
}

@media (max-width: 1023px) {
    header {
        padding: 10px;
    }

    .navigation {
        padding-left: 10px;
    }

    .title {
        font-size: 1.5em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1.2em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 641px) {
    body {
        font-size: 14px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .project-card {
        width: 90%;
        padding: 1em;
        margin: 10px auto;
    }
}

@media (max-width: 450px) {
    .project-card {
        width: 90%;
        padding: 1em;
        margin: 10px auto;
    }

    .project-info {
        padding: 1em;
    }

    .project-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .more-details {
        margin-top: 10px;
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media (max-width: 350px) {
    .project-card {
        width: 80%;
    }

    .project-title {
        flex-direction: column;
    }

    .more-details {
        font-size: 0.8em;
        padding: 0.5em 1em;
    }
}
